[Desktop Entry]
Name=Targetz
Comment=A customer target
Exec=/usr/bin/whatever_targetz
Terminal=false
Type=Application
Categories=Office;
StartupWMClass=software.whatever.targetz