[Desktop Entry]
Name=Whatever Targetz
Comment=A customer target
Exec=/usr/bin/whatever_targetz
Icon=/usr/share/pixmaps/icon.png
Terminal=false
Type=Application
Categories=Office;
